[Unit]
Description=Check GitHub main every two minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=15s
Unit=sm-instruction-github-sync.service

[Install]
WantedBy=timers.target
